html,body,#page,header {
  height:100%;
}

.maincontent {
  min-height: calc(100% - 11rem);
}

html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.logo{
  display:flex;
  justify-content: flex-start;
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img{
  height: 1.5rem;
  width: 2.278rem;
  margin: 0 1rem 0 0.5rem;
}

.banner{
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner h2, .banner h1{
  background-color: black;
  width: 20rem;
  position: relative;
  top: 9rem;
}

.banner h2{
  padding: 2rem 0 0.125rem 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.banner h1{
  padding: 0.125rem 0 2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.nav{
  background-color: firebrick;
}

.navspan{
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.menuonly{
  display: none;
}

.productgrid{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imagecontainer{
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagecontainer img{
  max-width: 8rem;
}

.product span{
  background-color: black;
  padding: 0.5rem 0;
  width: 100%;
}

.information{
  display: flex;
  justify-content: space-between;
  margin: 3rem auto 4rem auto;
}

.details{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.details h3{
  font-size: 1rem;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.details span{
  color: black;
}

footer{
  background-color: black;
  width: 100%;
  padding: 5rem 0;
}

@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
    min-width: 640px;
    margin: 0 auto;
  }

  #logo {
    height: 1.5rem;
    max-width: 2.278rem;
    margin: 0 1rem 0 0.5rem;
  }

  .navspan{
    display: none;
  }
  .nav{
    background-color: firebrick;
  }

  .menuonly{
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
  }

  .product{
    width: 47%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
  }

  .productgrid .glasses{
    display: none;
  }

  .details{
    width: 35%;
    margin: 3rem 0 3rem 0;
  }
}

@media only screen and (max-width: 470px){

  .container{
    width: 100%;
    min-width: 470px;
    margin: 0 auto;
  }

  .banner{
    background-image: url("../images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15rem;
  }

  .banner h2, .banner h1{
    background-color: black;
    width: 100%;
    position: relative;
    top: 10rem;
  }

  .banner h2{
    padding: 2rem 0 0.125rem 2rem;
    font-size: 0.77rem;
    font-weight: bold;
  }

  .banner h1{
    padding: 0.125rem 0 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .productgrid{
    display: flex;
    justify-content: center;
  }

  .product{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
  }

  .productgrid .watch{
    display: none;
  }

  .information{
    flex-direction: column;
    align-items: center;
  }
  .details{
    width: 90%;
    }

    footer{
      text-align: center;
    }
}
