html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.logo{
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img{
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 0.5rem;
}

.banner{
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner h2, .banner h1{
  background-color: black;
  width: 20rem;
  position: relative;
  top: 9rem;
}

.banner h2{
  padding: 2rem 0 0.125rem 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.banner h1{
  padding: 0.125rem 0 2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.nav{
  background-color: firebrick;
}

.navspan{
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.productgrid{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imagecontainer{
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagecontainer img{
  max-width: 8rem;
}

.product span{
  background-color: black;
  padding: 0.5rem 0;
  width: 100%;
}

.information{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.details{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.details h3{
  font-size: 1rem;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.details span{
  color: black;
}
